*{
  box-sizing: border-box;
}

body{
  background-color: rgb(102, 104, 105);
}

a, h3{
  color: white;
}

.headerContainer{
  height: 60px;
  width: 100%;
  background: rgb(42, 42, 71);
  color: white;
  padding: 10px;
  align-items: center;
}

.navButton{
  margin-right: 15px;
  }

.flexMeRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexMeColumn{
  display: flex;
  flex-direction: column;
}

.demoAllCardsContainer{
  justify-content: space-evenly;
}

.outerCard{
  height: 225px;
  width: 115px;
  border-radius: 10px;
}

.outerCard:hover{
  border: 3px white solid;
}

.outerCard:active{
  border: 3px yellow solid;
}

.setCard{
  border-radius: 10px;
  height: 220px;
  width: 110px;
  justify-content: space-evenly;
  align-items: center;
}

.cardBack1{
  background-color: rgb(204, 224, 241);
}

.cardBack2{
  background-color: rgb(228, 175, 175);
}

.cardBack3{
  background-color: rgb(238, 238, 173);
}

.cardBorder1{
  border: 6px rgb(112, 58, 112) dashed;
}

.cardBorder2{
  border: 6px rgb(112, 58, 112) solid;
}

.cardBorder3{
  border: 6px rgb(112, 58, 112) none;
}

.pmonSprite{
  height: 70px;
  width: 70px;
}