*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(102, 104, 105);
}

a, h3, h5{
  color: white;
}

input{
margin: 15px;
}

.headerContainer{
  height: 60px;
  width: 100%;
  background: rgb(42, 42, 71);
  color: white;
  padding: 10px;
  align-items: center;
}

.navButton{
  margin-right: 15px;
  height: 30px;
  width: 125px;
  text-align: center;
  padding-top: 5px;
}

.navButton:hover{
  background-color: rgb(45, 86, 121);
  border-radius: 10px;
}

.flexMeRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexMeColumn{
  display: flex;
  flex-direction: column;
}

.gameDetailsContainer{
  justify-content: space-evenly;
  height: 300px;
  width: 300px;
  padding-left: 20px;
}

.outerCard{
  height: 225px;
  width: 115px;
  border-radius: 10px;
}

.outerCard:hover{
  border: 3px white solid;
}

.outerCard:active{
  border: 3px yellow solid;
}

.setCard{
  border-radius: 10px;
  height: 220px;
  width: 110px;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 5px 5px 5px;
}

.cardBack0{
  background-color: rgb(204, 224, 241);
}

.cardBack1{
  background-color: rgb(228, 175, 175);
}

.cardBack2{
  background-color: rgb(238, 238, 173);
}

.cardBorder0{
  border: 6px rgb(112, 58, 112) dashed;
}

.cardBorder1{
  border: 6px brown solid;
}

.cardBorder2{
  border: none;
}

.pmonSprite{
  height: 70px;
  width: 70px;
}

/* this is the container for the entire board */
.gameBoardContainer{
  height: 750px;
  width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}

/* these are the spots on the board where cards will be placed
This does not include styling for the card itself. */
.cardSlot{
border-radius: 5px;
height: 230px;
width: 120px;
}

.cardSlot:hover{
  background-color: white;
}